<% if (successMsg && successMsg.length > 0) { %>
  <div class="flash-container">
    <% successMsg.forEach(msg => { %>
      <div class="flash flash-success">✓ <%= msg %></div>
    <% }) %>
  </div>
<% } %>
<% if (errorMsg && errorMsg.length > 0) { %>
  <div class="flash-container">
    <% errorMsg.forEach(msg => { %>
      <div class="flash flash-error">⚠ <%= msg %></div>
    <% }) %>
  </div>
<% } %>
